# ---------------------------------------------------------------------------------------------------------- #
# This file tells gcloud which files should not be uploaded  Google Cloud Build, without it, it defaults
# to .gitignore that usually exclude the target directory where you packaged application has been created.
#
# For more details see: https://quarkus.io/guides/deploying-to-google-cloud
# ---------------------------------------------------------------------------------------------------------- #

src/
docs/
